<div class="navigation">
  <h3><a href="/#">Rendr</a></h3>

  <h3><a href="/#getting-started">Getting Started</a></h3>
  <h3><a href="/#premise">The Premise</a></h3>
  <h3><a href="/#goals">Goals</a></h3>
  <h3><a href="/#contributing">Contributing</a></h3>


  {% include navItem.html name="app" title="App" %}
  {% include navItem.html name="model" title="Model" %}
  {% include navItem.html name="collection" title="Collection" %}
  {% include navItem.html name="view" title="View" %}
  {% include navItem.html name="controller" title="Controller" %}
  {% include navItem.html name="syncer" title="Syncer" %}
  {% include navItem.html name="model-store" title="Model Store" %}
  {% include navItem.html name="collection-store" title="Collection Store" %}

  <h3><a href="/#examples">Examples</a></h3>
  <ul>
    <li><a href="/#change-org">Change.org</a></li>
    <li><a href="/#m-truila">Trulia Mobile</a></li>
    <li><a href="/#giving-stage">Giving Stage</a></li>
    <li><a href="/#cine-io">Cine.io</a></li>
  </ul>
</div>
